body {
  background-color: #c5c5c5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  box-shadow: 5px 5px 5px gray, 5px -5px 5px gray;
  padding: 1rem 0;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  main {
    width: 50%;
    margin-top: 10%;
  }
}

.title {
  width: 99%;
  color: gray;
  padding-left: 0.25rem;
}

.new-task-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#new-task {
  padding: 1rem 0;
  padding-left: 0.25rem;
  font-size: medium;
  font-style: italic;
  width: 99%;
  border: none;
}

.fa {
  padding-right: 1rem;
}

.fa-arrow-right {
  position: absolute;
  top: 35%;
  right: 0;
  color: #c5c5c5;
}

.description {
  flex-grow: 7;
}

.fa-ellipsis-v ,
.fa-trash {
  align-self: center;
  flex-grow: 2;
  text-align: right;
}

.list-tasks {
  padding: 0;
  width: 100%;
}

.list-tasks li {
  display: flex;
  list-style: none;
}

.clear-tasks {
  width: 100%;
  padding: 1rem;
  margin: 0;
  font-size: 1.25rem;
  color: gray;
  border: none;
}

.clear-tasks:hover {
  filter: contrast(0.5);
  color: #000;
  cursor: pointer;
}

.title,
.new-task-container,
.list-tasks li {
  border-bottom: 1px solid #c5c5c5;
}
